---
import "@/assets/css/qr-code/styles.css";
import { Image } from "astro:assets";
// Component Imports
import MainLayout from "@/layouts/main.astro";

// Page Metadata
const content = {
  title: "QR Code | Frontend Showcase",
  description:
    'This is a solution to the "QR Code" challenge on Frontend Mentor.',
};

// Image Imports
import qrCodeImage from "@/assets/images/qr-code/image-qr-code.png";
---

<MainLayout content={content}>
  <div class="container">
    <Image src={qrCodeImage} alt="QR Code" />

    <div class="text-container">
      <h1>Improve your front-end skills by building projects</h1>
      <p>
        Scan the QR code to visit Frontend Mentor and take your coding skills to
        the next level
      </p>
    </div>
  </div>
</MainLayout>
