---
// Component Imports
import MainLayout from "@/layouts/main.astro";

const content = {
  title: "Frontend Showcase",
};
---

<MainLayout content={content}>
  <header class="custom-container space-y-10">
    <h1 data-text="Frontend Showcase">Frontend Showcase</h1>
    <p class="text-center text-[1.1rem]">
      A collection of some of my frontend projects and experiments
    </p>
  </header>
</MainLayout>
