---
import "../styles/global.css";
const { content } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="images/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="48x48"
      href="images/favicon-48x48.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="images/favicon-192x192.png"
    />
    <title>{content?.title ?? "Frontend Showcase"}</title>
    <meta
      name="description"
      content={content?.description ??
        "An app that shows many of the frontend projects and components that I have built."}
    />
    <slot name="head" />
  </head>
  <body class="min-h-svh py-4">
    <slot />
  </body>
</html>
